@using Firehose.Web.Infrastructure
@using Firehose.Web.Extensions

@model IAmACommunityMember

<div class="col-md-4 profileCard" id="@Model.GetType().Name">
    <img class="mugShot" src="@Model.GravatarImage()" alt="@Model.FirstName @Model.LastName" />
    <div class="mugShotBorder">
    </div>
    <div class="profileCardWrapper">

        <p class="name">@Model.FirstName @Model.LastName</p>
        <p class="twitter">
            <a href="https://twitter.com/@Model.TwitterHandle">@@@Model.TwitterHandle</a>
        </p>

        <p class="description">
            @if (!string.IsNullOrWhiteSpace(Model.ShortBioOrTagLine))
            {

                if (Model is IWorkAtMicrosoft)
                {
                    var output = string.Empty;

                    var microsoftEmployeeModel = Model as IWorkAtMicrosoft;
                    if (microsoftEmployeeModel != null)
                    {
                        output += microsoftEmployeeModel.Job + " en Microsoft.";
                    }
                    <text>@Model.FirstName @Model.LastName es @Html.Raw(output)</text>
                    if (!string.IsNullOrWhiteSpace(Model.ShortBioOrTagLine))
                    {
                        <text>Además, @Model.ShortBioOrTagLine</text>
                    }
                }
                else
                {
                    if (Model is IAmAMicrosoftMVP)
                    {
                        <text>@Model.FirstName @Model.LastName es</text>

                        var output = string.Empty;

                        var microsoftMvpModel = Model as IAmAMicrosoftMVP;
                        if (microsoftMvpModel != null)
                        {
                            output += "Microsoft MVP en la categoría " + microsoftMvpModel.Category + ".";
                        }

                        <text>@Html.Raw(output)</text>
                        if (!string.IsNullOrWhiteSpace(Model.ShortBioOrTagLine))
                        {
                            <text>Además, @Model.ShortBioOrTagLine</text>
                        }
                    }
                    else
                    {
                        <text>@Model.FirstName @Model.LastName @Model.ShortBioOrTagLine</text>
                    }
                }
            }
        </p>

        <p class="location">
            <i class="fa fa-map-marker"></i> @Model.StateOrRegion
        </p>
        <p class="website">
            <a href="@(Model.WebSite.ToString())" title="@Model.WebSite.ToString()">@Model.WebSite.ToString()</a>
        </p>
    </div>
</div>
